<nav>
  <div class="web-page">
    <ul>
      <li><a href="/headers"><span class="glyphicon glyphicon-user"></span> Echo <em><strong>req</strong></em> headers</a></li>
      <li><a href="/ip"><span class="glyphicon glyphicon-user"></span> Return k:v pair as HTTP <em><strong>res</strong></em> header</a></li>
      <li><a href="/timeout"><span class="glyphicon glyphicon-user"></span> Return <em><strong>res</strong></em> with delay</a></li>
    </ul>
    <ul>
      <li><a href="/headers"><span class="glyphicon glyphicon-user"></span> Accept POST <em><strong>req</strong></em> // Echo POST form body in <em><strong>res</strong></em></a>
      </li>
      <li><a href="/cached-response"><span class="glyphicon glyphicon-user"></span> Return a cached response of <em><strong>n</strong></em> bytes.</a></li>
      <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="glyphicon glyphicon-info-sign"></span> Return Res Status Codes <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
          <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Getting Started with Ruby on Heroku</a></li>
          <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
          <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started with PHP on Heroku</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>