<!DOCTYPE html>
<html>
<% include ../partials/header.ejs %>

  <body id="root">
    <div class="left-container">
      <br>
      <br>
    </div>
    <div class="middle-container">
      <div class="web-page">
        <a href="/" class="lang-logo">
          <br><img src="/public/frank-logo.png" height="100px"></a>
        <h2 style="color:#222">ExpressWorkers</h2>
        <p>Write Article:</p>
        <textarea></textarea>
        <form method="GET">
          <br>
          <br>
          <input type="text" name="fname" id="name" value="" placeholder='Title'>
          <input id="form-submission" type="submit" value="Create AMP Article & Regular Article">
        </form>
      </div>
      <div id="formatted-json"></div>
      <p>Result:</p>
      <pre style="word-wrap: break-word; white-space: pre-wrap" class="json">
        <code>
          <% if (data) { %><%= JSON.stringify(data, null, 2) %><% } %>
        </code>
      </pre>
    </div>
    <!-- <script src="/public/js/client.js"></script> -->
    <script src="/public/js/AmpConversion.js"></script>
    <script src="/public/js/FormatJSON.js"></script>
  </body>

</html>