<!DOCTYPE html>
<html>
  <head><% include ../partials/header.ejs %>
    <style>
      body {
          display: flex;
          width: 100vw;
      }
      .left-container, .right-container, .middle-container {
        height: 100vh;
      }
      .left-container {
        width: 30%;
        text-align: left
      }
      .middle-container {
        width: 50%;
      }
      .web-page {
        margin: auto;
        display: block;
        width: inherit;
      }
      .web-page > * {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      .right-container {
        height: 100vh;
        background: white;
        width: 20%;
        border-left: 5px solid orange;
        box-shadow: -2px 0 8px 1px rgba(0,0,0,0.16), -8px 0 12px 2px rgba(0,0,0,0.12);
        text-align: right
      }
      
    </style>
  </head>
  <body id="root">
    <div class="left-container">
      <nav>
        <div class="web-page">
          <ul>
            <li><a href="/headers"><span class="glyphicon glyphicon-user"></span> Echo <em><strong>req</strong></em> headers</a></li>
            <li><a href="/ip"><span class="glyphicon glyphicon-user"></span> Return k:v pair as HTTP <em><strong>res</strong></em> header</a></li>
            <li><a href="/timeout"><span class="glyphicon glyphicon-user"></span> Return <em><strong>res</strong></em> with delay</a></li>
          </ul>
          <ul>
            <li><a href="/headers"><span class="glyphicon glyphicon-user"></span> Accept POST <em><strong>req</strong></em> // Echo POST form body in <em><strong>res</strong></em></a>
              <form action="/save" method="POST"><br> First name:
                <input type="text" name="fname"><br> Last name:
                <input type="text" name="lname"><br><br>
                <input id="form-submission" type="submit" value="Submit"><br>
              </form>
            </li>
            <li><a href="/cached-response"><span class="glyphicon glyphicon-user"></span> Return a cached response of <em><strong>n</strong></em> bytes.</a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="glyphicon glyphicon-info-sign"></span> Return Res Status Codes <span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Getting Started with Ruby on Heroku</a></li>
                <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
                <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started with PHP on Heroku</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav><!-- Echo the HTTP request headers in the response.
      <This>allows you to see what headers are passed through, the headers Cloudflare adds, and header parsing/stripping behavior.</This>
      <Return>an arbitrary response status code.</Return>
      <Return>a key:value pair as a HTTP response header</Return>
      <Tip>
        <accept>a /key/value in a URL or query string or HTTP POST data to make this easy.</accept>
      </Tip>
      <Return>a cached response of varying bytes.</Return>
      <Tip>
        <set>up a Page Rule to cache this pattern.</set>
      </Tip>
      <Delay>returning a response for a specified number of seconds (great for testing timeout behavior)</Delay>
      <Accept>a POST request, and then echo the POST form body back in the response. --></Accept>
    </div>
    <div class="middle-container">
      <div class="web-page"><a href="/" class="lang-logo"><img src="/public/frank-logo.png"></a>
        <h2 style="color:#222">FrankBin</h2>
        <p>An Express Server that speaks HTTP.</p>
      </div>
      <div id="formatted-json"></div>
      <pre style="word-wrap: break-word; white-space: pre-wrap" class="json"><code><% if (data) { %>
<%= JSON.stringify(data, null, 2) %>
<% } %></code></pre>
    </div>
    <div class="right-container">
      <div class="timer"></div>
    </div>
    <script src="/public/js/client.js"></script>
  </body>
</html>